.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

a{
  text-decoration: none;
  color: black;
}
.ref-profile{
  color: antiquewhite;
}

.column {
  flex-direction: column;
}

.full_screen {
  width: 100vw;
  height: 100vh;
}
.new_user_btn_container {
  width: 100vw;
  margin: 20px 0;
}

.table_container {
  width: 800px !important;
}

.form_container {
  width: 350px;
  padding: 30px;
  margin: 0;
  text-transform: uppercase;
}

/*  NAV BAR CSS START   */
.nav {
  height: 75px;
  background-color: #16213e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.site-title {
  margin-top: -5px;
  color: #e94560;
  font-size: 2rem;
  text-decoration: none;
  font-weight: bold;
}

.nav ul {
  list-style: none;
  display: flex;
  gap: 1rem;
}

.nav a {
  color: #f0f0f0;
  text-decoration: none;
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.25rem;
}

.nav li.active {
  font-weight: 700;
  font-size: large;
}

.nav ul a:hover {
  color: #ce52c7 !important;
}

/*  NAV BAR CSS END   */
.referee-container{
  margin-top: 50px;
}

.card-img-top{
  height: 250px;
}

.ref-search {
  display: flex;
  justify-content: space-between;
}
.ref-search .reeset{
  color: #e94560;;
  cursor: pointer;
}
.ref-search input{
  padding: 3px;
  width: 220px;
}
.ref-search button{
  padding: 4px;
}

@media (max-width: 1112px) {
  .referee-container{
    margin-top: 85px !important;
  }
}

.font-size-25{
  font-size: 25px;
    margin-bottom: 7px;
    cursor: pointer;
    background-color: #0f3460 !important;
}
.dislike-icon{
  font-size: 25px;
    margin-bottom: 7px;
    cursor: pointer;
    
}
.likedislike-active{
  color: rgb(42, 230, 70);
}
.report-icon{
  color:rgb(173, 28, 15)
}