.container {
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
  background-color: white;
  color: black;
  width: 100%;
}

.grid-container {
  height: 60px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: rgba(200, 200, 200, 1);
  display: grid;
  grid-template-columns: 200px auto 200px;
  -webkit-box-align: center;
  align-items: center;
}

.back-to-mathces-button {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  margin-left: 20px;
}

.back-to-mathces-button:hover {
  opacity: 0.4;
}

.back-to-mathces-button span {
  font-weight: bold;
  margin-left: 15px;
  font-size: 13px;
}

a,
button {
  -webkit-text-decoration: none;
  text-decoration: none;
  color: black;
  outline: none;
  border: 0;
  background: 0;
  cursor: pointer;
  padding: 0;
}

.header-league-css {
  height: 60px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.header-league-css [class*="league-icon"] {
  margin-right: 12px;
}

.league-icon-container {
  width: 20px;
  height: 20px;
}

img.Image {
  width: 20px;
  aspect-ratio: auto 20 / 20;
  height: 20px;
}

.right-grid-item {
  margin-right: 20px;
}

.general-scoreboard {
  margin-top: 20px;
  width: 100%;
  height: 100px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
}

.home-team {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
}

.away-team {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  font-size: 16px;
  font-weight: 800;
}

.home-team [class="teamName"] span {
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
  text-align: right;
  width: 200px;
}

.away-team [class="teamName"] span {
  display: flex;
  -webkit-box-pack: start;
  justify-content: flex-start;
  text-align: left;
  width: 200px;
}

.home-team [class*="team-icon"] {
  margin-left: 20px;
}

.away-team [class*="team-icon"] {
  margin-right: 20px;
}

img.Image.team-icon {
  width: 50px;
  aspect-ratio: auto 50 / 50;
  height: 50px;
}

.general-scoreboard > div {
  min-width: 75px;
  margin-top: 0px;
  margin-right: 60px;
  margin-left: 60px;
}

.match-info {
  display: grid;
  justify-content: space-evenly;
  justify-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.match-info-top {
  white-space: nowrap;
  font-size: 36px;
  font-weight: 800;
  letter-spacing: 1px;
}

.match-info-bottom {
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.match-goals {
  display: grid;
  grid-template-columns: 1fr 150px 1fr;
  row-gap: 60px;
  column-gap: 60px;
  padding-right: 15px;
  padding-bottom: 24px;
  padding-left: 15px;
}

.match-goals ul:first-of-type {
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.match-goals ul:nth-of-type(2) {
  -webkit-box-pack: end;
  justify-content: center;
  padding: 0;
  font-weight: 700;
}

.match-goals ul:last-of-type {
  -webkit-box-pack: start;
  justify-content: flex-start;
  padding-inline-start: 0px;
}

.match-goals ul {
  display: flex;
  flex-wrap: wrap;
}

ol,
ul {
  list-style: none;
}

ul {
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
}

.match-goals li {
  font-size: 13px;
}

li {
  display: list-item;
  text-align: match-parent;
}

.match-goals li span {
  color: rgb(62, 45, 45);
}

.event-time {
  font-weight: 800;
}

.match-goals svg {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: auto;
  grid-column-end: auto;
  align-self: center;
  justify-self: center;

  width: 13px;
  height: 12px;
}

.match-details-info-container {
  height: 60px;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: rgba(200, 200, 200, 0.5);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;

  font-size: 13px;
  line-height: 1.54;
  letter-spacing: 0.13px;
  color: rgb(0, 0, 0);
}

.match-detail-box {
  display: flex;
  justify-items: center;
  -webkit-box-align: center;
  align-items: center;
}

.match-detail-item {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(0, 0, 0);
}

.match-detail-item svg,
.match-detail-item img {
  width: 17px;
  height: 17px;
  margin-right: 12px;
  margin-left: 20px;
}
