.login_container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 660px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
  margin-top: 50px;
  margin-bottom: 50px;
}

.login_form_container {
  display: flex;
  box-shadow: 0px 3px 3px -2px rgb(0 0 0 / 20%),
    0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
}

.left2 {
  width: 600px;
  height: 650px;
  flex: 2;
  align-items: center;
  justify-content: center;
  background-color: #16213e;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 50px;
}

.form_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}

.form_container h1 {
  font-size: 40px;
}

.input {
  outline: none;
  border: 1px solid #533483;
  width: 370px;
  padding: 15px;
  margin: 5px;
  font-size: 14px;
}

.green_btn,
.red_btn {
  border: 1px solid #533483;
  outline: none;
  background-color: #e94560;
  border-radius: 5px;
  width: 370px;
  height: 40px;
  margin: 10px;
  justify-content: center;
  font-weight: bold;
  font-size: 14px;
  cursor: pointer;
}
.green_btn {
  background-color: #4de945;
}

/* PROFILE CARD CSS START */
.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 450px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, 0.08);
}

.wrapper .left {
  width: 35%;
  background: linear-gradient(to right, #9a346fb1, #7b01df);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #fff;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 10px;
}

.wrapper .left p {
  font-size: 12px;
}

.wrapper .right {
  width: 65%;
  background: #fff;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  justify-content: space-between;
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 13px;
  margin-bottom: 10px;
  color: #919aa3;
}

.wrapper .button_div form {
  display: flex;
  justify-content: right;
}

.wrapper .button_div button {
  background: linear-gradient(to right, #01a9ac, #01dbdf);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  border: none;
  outline: none;
  width: 80px;
  height: 40px;
  cursor: pointer;
}

.wrapper .button_div button {
  color: #fff;
  display: block;
  font-size: 16px;
}

/* PROFILE CARD CSS END */


@media (max-width: 1112px){
  .login_container {
    
    margin-top: 100px;
  }
}

@media (max-width: 580px){
  .login_container {
    
    margin-top: 140px;
  }
}